<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Buddy</title>
    <link rel="stylesheet" href="./Static/Login.css">
</head>
<body>
    <div class="flip">
        <form class="login" action="" method="post">
            <h1>Log In</h1>
            <input class="input" type="text" placeholder="Username" />
            <input class="input"type="password" placeholder="Password" />
            <button class="input" type="submit" style="background-color: #256DF7; color: snow;" class="logbtn">Log in</button>
            <button class="input" type="button" class="login-with-google-btn" >
                Sign in with Google
              </button>              
            <a href="Signin.html">Create a new account.</a>
        </form>
    </div>
    <div class="ocean">
        <div class="bottom"></div>
        <img class="wave" src="./Static/img/wave (1).svg" alt="">
        <img class="wave" src="./Static/img/wave (2).svg" alt="">
        <img class="wave" src="./Static/img/wave (3).svg" alt="">
        <img class="wave" src="./Static/img/wave (1).svg" alt="">
        <img class="wave" src="./Static/img/wave (4).svg" alt="">
        <img class="wave" src="./Static/img/wave (5).svg" alt="">
    </div>
</body>
</html>