<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Buddy</title>
    <link rel="stylesheet" href="./Static/Signin.css">
</head>
<body>
    <div class="flip">
        <form class="login" action="" method="post">
            <h1>Sign In</h1>
            <input class="input" id="email" type="text" placeholder="Username" />
            <input class="input" type="email" placeholder="Email"/>
            <input class="input" type="password" placeholder="Password" />
            <input class="input" type="password" placeholder="Confirm your password" />
            <div><input maxlength="6" type="text" class="txtopt" id="otp_inp" placeholder="Enter the OTP"/><button onclick="sendOTP()"  type="button" class="otp">Send OTP</button></div>
            <button class="submit logbtn" id="otp_btn" type="submit">Submit</button>
            <a href="Login.html">Already have an account?</a>
        </form>
    </div>
    <div class="ocean">
        <div class="bottom"></div>
        <img class="wave" src="./Static/img/wave (1).svg" alt="">
        <img class="wave" src="./Static/img/wave (2).svg" alt="">
        <img class="wave" src="./Static/img/wave (3).svg" alt="">
        <img class="wave" src="./Static/img/wave (1).svg" alt="">
        <img class="wave" src="./Static/img/wave (4).svg" alt="">
        <img class="wave" src="./Static/img/wave (5).svg" alt="">
    </div>
</body>
</html>
